.container {
  min-width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.image {
  max-height: 50px;
  
}

.card {
  max-height: 50px;
  margin-top: 30px;
  background-color: #00000088;
}

